/*
	Credit to Armin Ronacher from website style, based off of Minitwit
  Credit to W3Schools for the style of chat box used
*/

body {
    background: #4fd0ff;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

a {
    color: #26776F;
}

a:hover {
    color: #333;
}

input[type="text"], input[type="password"],
input[type="date"] {
	background: white;
	border: 1px;
	padding: 2px;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 14px;
	color: black;
}

input[type="submit"] {
	background: black;
	border: 1px;
	padding: 1px 3px;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: white;
}

div.page {
	background: #00FFFF;
    border: 1px solid #6ECCC4;
    width: 700px;
    margin: 30px auto;
}

div.page h1 {
	background: white;
	margin: 0;
	padding: 10px 14px;
	color: #3876e0;
	letter-spacing: 1px;
	text-shadow: 0 0 3px #24776F;
	font-weight: normal;
}

div.page div.nav {
	background: grey;
	padding: 4px 10px;
	border: 1px solid #ccc;
	color: #888;
	font-size: 12px;
	letter-spacing: 0.5px;
}

div.page div.nav a {
	color: #555;
	font-weight: bold;
}

div.page h2 {
	margin: 0 0 15px 0;
	color: #105751;
	text-shadow: 0 1px 2px #ccc;
}

div.page div.body {
    padding: 10px;
}

div.page div.footer {
	background: #fff;
	color: #777;
	padding: 5px 10px;
	font-size: 12px;
}



div.error {
	margin: 10px 0;
	background: #FAE4E4;
	border: 1px solid #DD6F6F;
	padding: 4px;
	font-size: 13px;
}

{box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 100%;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}